This is the content of the test.

With a new line to see how it renders in HelpScout.

```
const App = () => (
  <View>Hello from the snippet of the example.</View>
);
```

_italic_ *bold* (will both be italic)
